@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search{
  margin-bottom: 16px;
}

.query-input{
  width: 120px;
}

.search .search-block{
  margin-right: 16px;
}

.search .search-input{
  width: 140px;
}

.search .search-btn{
  min-width: 80px;
}

.flr{
  float: right;
}